#app-content {
    height: calc(100vh - var(--header-height)) !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    width: 100%;
}

#app-content-wrapper {
    min-height: 100%;
    height: auto !important;
    overflow: visible !important;
    width: 100%;
    padding: 0 !important;
    display: block !important;
}

#recentphotos-root {
    width: 100%;
    min-height: 100%;
    height: auto !important;
    overflow: visible !important;
}